# Application
ENV=development # development / heroku / production
PORT=1337

# Database
DATABASE_CONNECTION_STRING=mongodb://<user>:<password>@<host>:<port>/<database>
DATABASE_NAME=<database>

# Tokens
TOKEN_SECRET=secret
TOKEN_EXPIRATION=9999 # token expiration in hours
